



body

{

	background-color: #62949b;
	color: #fefefe;
	text-align: center;
	font: 14px 'Arial', sans-serif;
}
.container
{
	width: 35%;
	margin: auto;
}
.form
{
	text-align: left;
}
#mc_embed_signup
{
	background: #53848b !important;
}
#mc_embed_signup input.email
{
	display: inline-block !important;
	margin-right:1% !important;
	width: 60% !important;
}
#mc_embed_signup input.button
{
	display: inline-block !important;
	border-radius:0px !important;
	background: #62949b;
}
#mc_embed_signup input.button:hover
{
	background: #32646b;
}
.fb a
{
	opacity: 0.3;
}
.fb a:hover
{
	opacity: 0.6;
}

/* ================= Mobile (Portrait) < 500px ================= */

@media only screen and (max-width: 500px) {


.container
{
	width: 95%;
}
img.logo

{

	width: 100%;

}



}