.icon {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
}

.icon::before {
	position: absolute;
	content: "";
	background-repeat: no-repeat;
	background-size: 32px 32px;
	width : 32px;
	height: 32px;
	left : 8px;
	top : 8px;
}

.icon-home::before {
	background-image: url("../img/logo.png");
}

.icon-allsearch::before{
	background-image: url("../img/icons/icon-all.png");
}

.icon-32::before {
	width : 32px;
	height: 32px;
	left : 8px;
	top : 8px;
}

.icon-40::before {
	background-size: 40px 40px;
	width : 40px;
	height: 40px;
	left : 4px;
	top : 4px;
}
